@font-face {
  font-family: 'title';
  src: url("../src/Fonts/NotoSansSymbols-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'text';
  src: url("../src/Fonts/NotoSansSymbols-SemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-color-title: #f0f8ff;
  --font-size-title: 36px;
  --font-color-text: #cfd0d7;
  --font-size-text: 16px;
  --background-color-main: #343434;
  --color-main: #56B6C6;
  --color-second: #547792;
  --color-main-dark: #1a1a1a;
  --color-second-dark: #252525;
  --color-error: #ff4d4f;
}

html, body {
  background-color: var(--background-color-main);
  margin: 0;
  height: 100vh;
}
