<div class="auth-container">
  
  <h2>{{ isLoginMode ? 'Zaloguj się' : 'Zarejestruj się' }}</h2>

  <div class="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="container">
    <div class="label-conatiner">
      <label>Nickname:</label>
      <input type="text" [(ngModel)]="nickname" autocomplete="off"  >
    </div>

    <div *ngIf="!isLoginMode" class="label-conatiner">
      <label>E-mail:</label>
      <input type="email" [(ngModel)]="email" autocomplete="email">
    </div>

    <div class="label-conatiner">
      <label>Hasło:</label>
      <input type="password" [(ngModel)]="password" autocomplete="new-password" (keydown.enter)="isLoginMode ? onLogin() : onRegister()"> 
    </div>

    <div *ngIf="!isLoginMode" class="label-conatiner">
      <label>Powtórz hasło:</label>
      <input type="password" [(ngModel)]="confirmPassword" autocomplete="new-password" (keydown.enter)="onRegister()"> 
    </div>

    <div class="btn-container">
      <button *ngIf="isLoginMode" type="button" (click)="onLogin()"> Zaloguj się </button>

      <button *ngIf="!isLoginMode" type="button" (click)="onRegister()"> Zarejestruj się </button>

      <button class="btn-other" type="button" (click)="toggleMode()"> {{ isLoginMode ? 'Stwórz konto' : 'Masz już konto? Zaloguj się' }} </button>
    </div>

  </div>
</div>