<div *ngIf="errorMessage" style="color: #ff4d4d; margin-bottom: 15px; font-size: 0.9rem;">
  {{ errorMessage }}
</div>

<div class="card" *ngFor="let movie of movies">
  
  <p class="movie-title">{{ movie.title }}</p>
  <p class="movie-year"><strong>Rok:</strong> {{ movie.year }}</p>
  
  <p class="movie-description">{{ movie.description }}</p>
  <p class="movie-director"><strong>Reżyseria:</strong> {{ movie.director }}</p>
  <p class="movie-actors"><strong>Obsada:</strong> {{ movie.actors ? movie.actors.join(', ') : '' }}</p>
  <p class="movie-rating"><strong>Ocena:</strong> ★ {{ movie.rating | number:'1.1-1' }}</p>

  <div class="stars-rating-wrapper">
    <div class="stars-container" (mouseleave)="leaveHover(movie.id_movie)">
      <span 
        *ngFor="let star of maxStars" 
        class="star"
        [class.active]="star <= (hoverRatings[movie.id_movie] || 0)"
        (mouseenter)="enterHover(movie.id_movie, star)"
        (click)="rate(movie.id_movie, star)">
        &#9733;
      </span>
    </div>
  </div>
  
  <button class="btn-toggle-form" (click)="toggleForm(movie.id_movie, 'openedReviewsId')">
    {{ openedReviewsId === movie.id_movie ? 'Schowaj' : 'Recenzje'}}
  </button>
  
  <div class="reviews-section" *ngIf="movie.reviews && movie.reviews.length > 0 && openedReviewsId === movie.id_movie">
    <h4>Recenzje:</h4>
    <div class="review-item" *ngFor="let review of movie.reviews"> 
      <div class="review-meta">
        <span class="review-author">@{{ review.nickname }}</span>
        <span class="review-date">{{ review.created_at | date:'dd.MM.yyyy' }}</span>
      </div>
      <p class="review-text">"{{ review.text }}"</p>
    </div>
  </div>

  <button class="btn-toggle-form" (click)="toggleForm(movie.id_movie, 'openedFormId')">
    {{ openedFormId === movie.id_movie ? 'Anuluj' : 'Dodaj recenzję' }}
  </button>

  <div class="form-wrapper" *ngIf="openedFormId === movie.id_movie">
    
    <input 
      #nowyTytul
      type="text" 
      placeholder="Wpisz nową nazwę filmu..."
      class="title-input" />

    <button class="btn-submit" (click)="reviewCreate(movie.id_movie, nowyTytul.value)">
      Wyślij
    </button>

  </div>
  
  <button class="favorite-btn" (click)="favortie(movie.id_movie)" *ngIf="authService.isLoggedIn$ | async">Polub</button>

  <p>{{ actionText }}</p>
</div>