<div *ngIf="errorMessage" style="color: #ff4d4d; margin-bottom: 15px; font-size: 0.9rem;">
  {{ errorMessage }}
</div>

<div class="card" *ngFor="let movie of movies">
  
  <p class="movie-title">{{ movie.title }}</p>
  
  <p class="movie-description">{{ movie.description }}</p>
  <p class="movie-director"><strong>Reżyseria:</strong> {{ movie.director }}</p>
  <p class="movie-year"><strong>Rok:</strong> {{ movie.year }}</p>
  <p class="movie-rating"><strong>Ocena:</strong> ★ {{ movie.rating | number:'1.1-1' }}</p>
  
  <p class="movie-actors"><strong>Obsada:</strong> {{ movie.actors ? movie.actors.join(', ') : '' }}</p>
  
  <p class="movie-reviews">Recenzje: </p>
  
  <div class="reviews-section" *ngIf="movie.reviews && movie.reviews.length > 0">
    <h4>Recenzje:</h4>
    <div class="review-item" *ngFor="let review of movie.reviews.slice(0, 2)"> 
      <div class="review-meta">
        <span class="review-author">@{{ review.nickname }}</span>
        <span class="review-date">{{ review.created_at | date:'dd.MM.yyyy' }}</span>
      </div>
      <p class="review-text">"{{ review.text }}"</p>
    </div>
  </div>


  <button class="favorite-btn" (click)="favortie(movie.id_movie)" *ngIf="authService.isLoggedIn$ | async">Polub</button>
</div>