@use '../../../styles/index' as idx;;

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: var(--font-size-title);
        font-family: 'title';
        color: var(--font-color-title);
    }

    p {
        @include idx.simple-text;
        max-width: 120vh;
    }
}